.env
chat_history_1.txt
chat_history.txt
lyrics.txt
MusicStyle.txt
.DS_Store
*.pyc
__pycache__
venv/
Sample_songs
deleteNone.py
SongAnalysis
FailSongs.txt
SongAnalysis_m
SongAnalysis_1.py
findErr.py
OpenAI_embedding.py
Story.txt
tempProc.py
diction.txt
LC_history.txt
tempCodeRunnerFile.py
test.py
AIML_api.py
Title.txt
Output

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


