.env
chat_history_1.txt
chat_history.txt
lyrics.txt
MusicStyle.txt
.DS_Store
*.pyc
__pycache__
venv/
Sample_songs
deleteNone.py
SongAnalysis
FailSongs.txt
SongAnalysis_m
SongAnalysis_1.py
findErr.py

